
#wrapper{
    position:relative;
    top: 30px;
    left: 30px;
}
/* #fond{ */
/*     position:absolute; */
/*     z-index:-1; */
/*     left: 0; */
/*     top: 0; */
/* } */

#phaser{
    position:absolute;
    top: 100px;
    left: 50px;
    z-index:0;
}

#inventaire:hover{
    cursor: pointer;
}

#log{
    font-size:20px;
}
